

  .flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 500px; }
  
  .input-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 1000px;
    position: relative;
    z-index: 0;
    margin-left: calc((80vw - 25px) / 20); }
  
  input {
    width: 25px;
    height: 25px;
    background-color: #2C3E50;
    position: relative;
    border-radius: 50%;
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer; }
    input:focus {
      outline: none; }
    input::before, input::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: 50%;
      transform: translateY(-50%);
      background-color: #2C3E50;
      width: 4vw;
      height: 5px;
      max-width: 50px; }
    input::before {
      left: calc(-4vw + 12.5px); }
    input::after {
      right: calc(-4vw + 12.5px); }
    input:checked {
      background-color: #2C3E50; }
      input:checked::before {
        background-color: #2C3E50; }
      input:checked::after {
        background-color: #AEB6BF; }
    input:checked ~ input, input:checked ~ input::before, input:checked ~ input::after {
      background-color: #AEB6BF; }
    input:checked + .dot-info span {
      font-size: 13px;
      font-weight: bold; }
  
  .dot-info {
    width: 25px;
    height: 25px;
    display: block;
    visibility: hidden;
    position: relative;
    z-index: -1;
    left: calc((((80vw - 25px) / 20) * -1) - 1px); }
    .dot-info span {
        color: white !important;
        font-family: var(--e-global-typography-66c2809-font-family) !important;
      visibility: visible;
      position: absolute;
      font-size: 14px; }
      .dot-info span.year {
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%); }
      .dot-info span.label {
        top: -65px;
        left: 0;
        transform: rotateZ(-45deg);
        width: 70px;
        text-indent: -10px; }
  
  #timeline-descriptions-wrapper {
    width: 100%;
    color: white !important;
    font-family: var(--e-global-typography-66c2809-font-family) !important;
    margin-top: 140px;
    font-size: 20px;
    font-weight: 400;
    margin-left: calc((-80vw - 25px) / 20); }
    #timeline-descriptions-wrapper p {
      margin-top: 0;
      display: none; }
  
  input[data-description="1910"]:checked ~ #timeline-descriptions-wrapper p[data-description="1910"] {
    display: block; }
  
  input[data-description="1920"]:checked ~ #timeline-descriptions-wrapper p[data-description="1920"] {
    display: block; }
  
  input[data-description="1930"]:checked ~ #timeline-descriptions-wrapper p[data-description="1930"] {
    display: block; }
  
  input[data-description="1940"]:checked ~ #timeline-descriptions-wrapper p[data-description="1940"] {
    display: block; }
  
  input[data-description="1950"]:checked ~ #timeline-descriptions-wrapper p[data-description="1950"] {
    display: block; }
  
  input[data-description="1960"]:checked ~ #timeline-descriptions-wrapper p[data-description="1960"] {
    display: block; }
  
  input[data-description="1970"]:checked ~ #timeline-descriptions-wrapper p[data-description="1970"] {
    display: block; }
  
  input[data-description="1980"]:checked ~ #timeline-descriptions-wrapper p[data-description="1980"] {
    display: block; }
  
  input[data-description="1990"]:checked ~ #timeline-descriptions-wrapper p[data-description="1990"] {
    display: block; }
  
  input[data-description="2000"]:checked ~ #timeline-descriptions-wrapper p[data-description="2000"] {
    display: block; }
  
  @media (min-width: 1250px) {
    .input-flex-container {
      margin-left: 62.5px; }
    input::before {
      left: -37.5px; }
    input::after {
      right: -37.5px; }
    .dot-info {
      left: calc((((1000px - 25px) / 20) * -1) - 1px); }
    #timeline-descriptions-wrapper {
      margin-left: -37.5px; } }
  
  @media (max-width: 630px) {
    .flex-parent {
      justify-content: initial; }
    .input-flex-container {
      flex-wrap: wrap;
      justify-content: center;
      width: 300px;
      height: auto;
      margin-top: 15vh;
      margin-left: 10px;
      padding-bottom: 30px; }
    input, .dot-info {
      width: 60px;
      height: 60px;
      margin: 0 10px 50px; }
    input {
      background-color: transparent !important;
      z-index: 0; }
      input::before, input::after {
        content: none; }
      input:checked + .dot-info {
        background-color: #2C3E50; }
        input:checked + .dot-info span.year {
          font-size: 14px; }
        input:checked + .dot-info span.label {
          font-size: 12px; }
    .dot-info {
      visibility: visible;
      border-radius: 50%;
      z-index: 0;
      left: 0;
      margin-left: -60px;
      background-color: #AEB6BF; }
      .dot-info span {
        font-size: 13px;
      }
      .dot-info span.year {
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ECF0F1; }
      .dot-info span.label {
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        text-indent: 0;
        text-align: center; }
    #timeline-descriptions-wrapper {
      margin-top: 30px;
      margin-left: 0;
      text-align: center; } }
  
  @media (max-width: 480px) {
    .input-flex-container {
      width: 340px; } }
  
  @media (max-width: 400px) {
    .input-flex-container {
      width: 300px; } }


      
      .social-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
      }
      .social-button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        width: 64px;
        height: 64px;
        text-decoration: none;
        border-radius: 100%;
        background: #fff;
        text-align: center;
      }
      .social-button::after {
        content: '';
        position: absolute;
        top: -1px;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        border-radius: 100%;
        transition: 0.3s;
      }
      .social-button:focus, .social-button:hover {
        color: #fff;
      }
      .social-button:focus::after, .social-button:hover::after {
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        margin-left: calc(-50% - 1px);
      }
      .social-button i, .social-button svg {
        position: relative;
        z-index: 1;
        transition: 0.3s;
      }
      .social-button i {
        font-size: 25.6px;
      }
      .social-button svg {
        height: 40%;
        width: 40%;
      }
      .social-button--mail {
        color: #0072c6;
      }
      .social-button--mail::after {
        background: #0072c6;
      }
      .social-button--facebook {
        color: #3b5999;
      }
      .social-button--facebook::after {
        background: #3b5999;
      }
      .social-button--linkedin {
        color: #0077b5;
      }
      .social-button--linkedin::after {
        background: #0077b5;
      }
      .social-button--github {
        color: #6e5494;
      }
      .social-button--github::after {
        background: #6e5494;
      }
      .social-button--codepen {
        color: #212121;
      }
      .social-button--codepen::after {
        background: #212121;
      }
      .social-button--steam {
        color: #7da10e;
      }
      .social-button--steam::after {
        background: #7da10e;
      }
      .social-button--snapchat {
        color: #eec900;
      }
      .social-button--snapchat::after {
        background: #eec900;
      }
      .social-button--twitter {
        color: #55acee;
      }
      .social-button--twitter::after {
        background: #55acee;
      }
      .social-button--instagram {
        color: #e4405f;
      }
      .social-button--instagram::after {
        background: #e4405f;
      }
      .social-button--npmjs {
        color: #c12127;
      }
      .social-button--npmjs::after {
        background: #c12127;
      }
      

  